@reference '../../../index.css';

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  @apply btn btn-lg rounded-full btn-primary btn-soft p-2 text-primary hover:text-primary-content shadow-lg;
}
